
/* Just some default styles for the page */



h1{

  text-align: center;
  color: rgb(194, 115, 11);
} 

/* * {
    box-sizing: border-box;
    font-family: sans-serif;
    /* padding: 0;
    margin-right: 1rem;
    width: 65rem; 
    background-color: burlywood;
   
} */
   
  body {
    
    background: url(frontpage05.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover;
  }
  
  h1 {
    margin-bottom: 30px;
  }
  
  /* #card-color{
    background-color: darksalmon;
  } */
  
  