
/* Just some default styles for the page */

.container:hover{
  color: rgb(8, 111, 129);
  text-align: center;
   
}

h1{
  text-align: center;
  color: rgb(156, 93, 9);
} 

/* * {
    box-sizing: border-box;
    font-family: sans-serif;
    /* padding: 0;
    margin-right: 1rem;
    width: 65rem; 
    background-color: burlywood;
   
} */
   
  body {
    
    background: url(bg01.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover;
  }
  
  h1 {
    margin-bottom: 30px;
  }
  
  /* #card-color{
    background-color: darksalmon;
  } */
  
  #btns01{
    
    box-shadow:inset 1px 1px 0px 0px #bbdaf7;
    background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    background-color:#79bbff;
    border-radius:6px;
    border:9px solid #84bbf3;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:22px;
    font-weight:bold;
    padding:6px 43px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
  }