<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="card-alter.css">  
</head>
  <body>
      <header>
        <!-- <div class="container col-md-12"> -->
        <h1 class="display-3">Daily Reminder</h1>

        <user-card name='Wife Diana' avatar="1.png">
          <div class="user-card__slot" slot="message">I love you</div>
          <div class="user-card__slot" slot="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet asperiores itaque obcaecati repellendus.</div>

          <div class="user-card__slot" slot="phone">555-123-6666</div>
        </user-card>
        
        <user-card name='Son David' avatar="9.png">
          <div class="user-card__slot" slot="message">Dad Please call me</div>
          <div class="user-card__slot" slot="phone">555-555-55555</div>
        </user-card>
        
        <user-card name='Daughter Tiffany' avatar="5.png">
          <div class="user-card__slot" slot="message">Dad Call me anytime</div>
          <div class="user-card__slot" slot="phone">555-710-1300</div>
        </user-card>
      </div>
      </header>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="card_alter.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>