body{

    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

/* .container{
    margin: 0%;
    padding: 0%;
    margin-left: 7rem;
} */

.display-4{
    text-align: center;
}

h4{
   
    margin-left: 5rem;
    margin-left: 5rem;
    font-family: Helvetica;
}

h2{
    margin-left: 3rem;
    color: #bd1414;
}

img{
    width: 150px;
    height: 150px;
    margin-left: 3rem;
    /* margin: 0rem;
    padding: 0rem; */
}

input{

    font-size: 20px; 
    width: 300px;
}

#submit-button{
	background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
	border-radius:20px;
	/* border:1px solid #18ab29; */
	display:inline-block;
	cursor:pointer;
	color:#0f0f0f;
	font-family:Helvetica;
	font-size:19px;
    /* padding:16px 31px; */
    padding:0px 31px;
	text-decoration:none;
    /* text-shadow:0px 1px 0px #2f6627; */
    width: 8rem;
    height: 3rem;
    margin-left: 5rem;
    text-align: justify;
}
.submit-button:hover {
	background-color:#5cbf2a;
}
.submit-button:active {
	position:relative;
	top:1px;
}

.col-md-6:hover{
    /* margin-left: 1rem; */
    /* background-color:  */
    /* border-style: solid; */
    /* border-width: 3px; */
    /* border-left-width: 5px;
    border-right-width: 5px; */
    transform: translateY(-20px); 
    transition: .5s;
    /* box-shadow: 0 0 3px rgb(146, 125, 125); */
    /* box-shadow: 0 0 3px rgb(249, 246, 246);  */
}

  h2{
    font-family: Monaco;
  }

      
.container{

    margin-left: 10rem;
    
} 

#result{

    text-align: center;
    
}