body{

    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.container{

    padding: 0%;
}

.display-4{
    text-align: center;
}

h4{
    text-align: center;
}

img{
    width: 150px;
    height: 150px;
    /* margin: 0rem;
    padding: 0rem; */
}