/* #list{
    height:200px;
    font-size:14pt;
} */

body{

    background-color: rgb(247, 237, 161);
    
}

main{

    margin: 5rem;
}

.card{
    /* background-color: rgb(238, 214, 152); */
}

.botton{

    align-self: flex-start;

}

#outside{
    text-align:center;
}

/* .container{

    width: 100px;
} */

img{

    
}