<!doctype html>
<html lang="en">
  <head>
    <title>MemForever Registration Page</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="frontpage.css">
</head>
  <body>
      <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="#">MemForever</a>
                    <!-- icon here  -->
                     <svg class="bi bi-heart" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 01.176-.17C12.72-3.042 23.333 4.867 8 15z" clip-rule="evenodd"/>
                        </svg>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                        </li>
                        </li>
                      </ul>
                    </div>
                  </nav>
            </header>
            <div class="jumbotron">
              <h1 id="text" class="display-4">Welcome to MemForever</h1>
              <h2 id="text" class="lead">Memforever provides daily reminder, health tracking, mood tracking and simple game to help you understand how your health relates to your mood and vice versa</h2>
              <hr class="my-4">
              <a class="btn btn-primary btn-lg" href="mood.html" role="button">Login</a>
              <br>
              <br>
              <p id="text">For new user, please click register</p>
              <a class="btn btn-warning btn-lg" href="registration.html" role="button">Register</a>
            </div>
            <div class="container" id="col01">
                <div class="row">
                  <div class="col">
                    <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt ea ab assumenda unde aut. Consequuntur perspiciatis incidunt vero repellendus, vitae quaerat veniam similique dignissimos inventore atque eius esse officiis ab.</h4>
                  </div>
                  <div class="col">
                    <div class="card">
                        <img src="game.jpeg" class="card-img-top" alt="...">  
                        </div>
                      </div>
                  </div>
                </div>
                <br>
                <br>
                <div class="container">
                    <div class="row">
                      <div class="col">
                        <div class="card">
                            <img src="health.jpg" class="card-img-top" alt="...">
                        </div>
                      </div>
                          <div class="col">
                           <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt ea ab assumenda unde aut. Consequuntur perspiciatis incidunt vero repellendus, vitae quaerat veniam similique dignissimos inventore atque eius esse officiis ab.</h4>
                          </div>
                      </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="container">
                    <div class="row">
                      <div class="col">
                        <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt ea ab assumenda unde aut. Consequuntur perspiciatis incidunt vero repellendus, vitae quaerat veniam similique dignissimos inventore atque eius esse officiis ab.</h4>
                      </div>
                      <div class="col">
                        <div class="card">
                            <img src="calender.png" class="card-img-top" alt="...">
                           
                            </div>
                          </div>
                      </div>
                    </div>
                    <br>
                    <br>
                    <div class="container">
                      <div class="row">
                        <div class="col">
                          <div class="card">
                              <img src="dataVis.png" class="card-img-top" alt="...">
                          </div>
                        </div>
                            <div class="col">
                             <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt ea ab assumenda unde aut. Consequuntur perspiciatis incidunt vero repellendus, vitae quaerat veniam similique dignissimos inventore atque eius esse officiis ab.</h4>
                            </div>
                        </div>
                      </div>
                  </div>
           <br>
           <br>
           <hr>
           <br>
           
           <div id ="footers">
             <div class ="container">
            <div class="row">
              <div class="col-sm">
                <br>
                <h5>contact:</h5>
                <h5></h5>
                <h5></h5>
              </div>
              <div class="col-sm">
                <br>
                <h5>our goal:</h5>
              </div>
              <div class="col-sm">
                <br>
                <h5>our team:</h5>
               <img src="" alt="">
              </div>
            </div>
            
          </div>
          </div>
          <hr>
          <h4>copy rights: ASSZ IT</h4>

      </main>
      <footer></footer>
      
    <!-- Optional JavaScript -->
    <!--jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets2.lottiefiles.com/packages/lf20_phbKJx.json"  background="transparent"  speed="1"  style="width: 400px; height: 400px;"  loop  autoplay></lottie-player> -->
<!-- <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets4.lottiefiles.com/packages/lf20_UVDY7k.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop controls autoplay></lottie-player> -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>