body{

    background-color:  rgb(164, 240, 243);
    
}

.row{

    display: block;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}
.card{
    background-color: whitesmoke;
   
}

.flex-container{
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
  }

 